@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.container {
    width: 100%;
    height: auto;
    background-color: white;
    min-height: 10vh;
    display: flex;
    justify-content: center;
}
.container_interno {
    display: flex;
    width: 85%; 
    flex-direction: row;
}
.div_logo {
    display: flex;
    width: 35vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 70%; 
    margin: auto 0 auto 15px;
    border-radius: 35px;
    border: 1px solid white;
}
.title {
    font-size: 2rem;
    color: #8CC640;
    font-family: 'Dancing Script', cursive;
}
.div_menu {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0%;
    
}
.div_navlink {
    height: 70%;
    display: flex;
    flex-direction: row;

}

.ul_list {
    height: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.ul_list > li {
    height: 20px;
    color: #007071;
    margin-left: 4rem;
    margin-top: 3rem;
    padding: 0 2px 0 2px;
    border-radius: 2px;
}

.ul_list > li:hover {
    cursor: pointer;
    color: white;
    background-color: #007071;
    height: 20px;
    
}

.div_contact {
    width: 80%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.div_contact > p {
    margin-left: 2rem;
    color: rgb(95, 95, 95);
}

