.container {
    width: 100%;
    height: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.logo {
    width: 35px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
}

.texto {
    color: #004849;
    font-family: Helvetica;
    font-size: 15px;
}

.social_icons {
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #004849;
}